<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MasterDb" value="server=localhost;port=3306;uid=root;pwd=abcD1234;database=lotterydb;charset=utf8;max pool size=5000;sslmode=none;" />
    <add key="168LotteryAPI" value="https://api.api68.com/" />
    <!--默认最大采集重试次数-->
    <add key="RetryCount" value="10" />
    <!--默认开始采集日期-->
    <add key="DefaultDate" value="2019-03-01" />
    <!--最大批量写入数据库记录数-->
    <add key="MaxInsertCount" value="500" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="2.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>