# You can configure your scheduler in either quartz configuration section
# or in quartz properties file
# Configuration section has precedence
# 星期天=1，星期一=2，星期二=3，星期三=4，星期四=5，星期五=6，星期六=7

quartz.scheduler.instanceName = LotterySpiderQuartz

# configure thread pool info
quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz
quartz.threadPool.threadCount = 30
quartz.threadPool.threadPriority = Normal

# job initialization plugin handles our xml reading, without it defaults are used
quartz.plugin.xml.type = Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz
#quartz.plugin.xml.fileNames = Configs/quartz_jobs_hot.xml,Configs/quartz_jobs_qgc.xml,Configs/quartz_jobs_jsc.xml,quartz_jobs_shiyi.xml,quartz_jobs_k3.xml
quartz.plugin.xml.fileNames = Configs/quartz_jobs_k3.xml

# export this server to remoting context
#quartz.scheduler.exporter.type = Quartz.Simpl.RemotingSchedulerExporter, Quartz
#quartz.scheduler.exporter.port = 555
#quartz.scheduler.exporter.bindName = QuartzScheduler
#quartz.scheduler.exporter.channelType = tcp
#quartz.scheduler.exporter.channelName = httpQuartz